@model IEnumerable<MujeresEmpoderadas.Models.Trabajo>

@{
    ViewBag.Title = "BolsaDeTrabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="addthis_inline_share_toolbox"></div>

<h1>Bolsa de trabajo</h1>
<hr />

@foreach (var item in Model)
{
    <div class="convocatoria clear">
        <h2><a href="/Home/DetalleBolsaDeTrabajo/@item.TrabajoId">@Html.DisplayFor(modelItem => item.Titulo)</a></h2>
        <p> 
            <strong>Fecha de publicación:</strong> @item.FechaDePublicacion.ToString("dd/MM/yyy")
            <strong>Salario:</strong> @string.Format("{0:C}", item.Salario),
            <strong>Empresa:</strong> @item.ContactoEmpresa</p>
        <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
        <p style="text-align: right"><a href="/Home/DetalleBolsaDeTrabajo/@item.TrabajoId">Ver más &raquo;</a></p>
    </div>
    <hr/>
}