@model MujeresEmpoderadas.Models.Trabajo

@{
    ViewBag.Title = "Bolsa de trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="addthis_inline_share_toolbox"></div>

<h2>@Model.Titulo</h2>

<h5>@Model.ContactoEmpresa</h5>
<p>
    <b>Datos de contacto:</b><br/>
    Nombre: @Model.ContactoNombre, Teléfono: @Model.ContactoTelefono, Correo electrónico: <a href="mailto:@Model.ContactoCorreoElectronico">@Model.ContactoCorreoElectronico</a>
    </p>
<p><b>Fecha de publicación:</b> @Model.FechaDePublicacion</p>
<p><b>Salario:</b> @string.Format("{0:C}", Model.Salario)</p>
<p><b>Descripción:</b></p>
<p>@Model.Descripcion</p>
    
    
    
@Html.DisplayFor(model => model.Salario)
    
@Html.DisplayFor(model => model.ContactoNombre)
    
@Html.DisplayFor(model => model.ContactoTelefono)
    
@Html.DisplayFor(model => model.ContactoCorreoElectronico)
    
@Html.DisplayFor(model => model.ContactoEmpresa)